.boxresult{
    border: 1px solid #ccc;
    position: relative;
}
.boxresult img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    user-select: none;
}
#result_1::after,
#result_2::after,
#result_3::after{
    content: '';
    height: 0;
    clear: both;
    display: block;
}
#result_1 li,
#result_2 li,
#result_3 li {
    float: left;
    width: 10%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#result_1 li:nth-child(2n),
#result_2 li:nth-child(2n-1),
#result_3 li:nth-child(2n) {
    background: #cbe6ff;
}
.btn_area{
    margin-top: 20px;
}

[class*="result_"] li,
.boxresult {
    animation: timeline;
    animation-duration: 2s; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    background: linear-gradient(to bottom, #f2f0f0 8%, #fff 18%, #f2f0f0 33%);
    background-size: 800px auto; 
}
@keyframes timeline {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 300px; 
    }
}
@media screen and (max-width: 320px) {
    header .status a span, 
    header .status span.time {
        padding: 0 10px;
    }
    header .status span.time {
        display: none;
    }
    header .status a {
        float: right;
    }
    header .status span.calendar {
        display: block;
    }
    #content {
        min-width: unset;
    }
    #content .title_area h1 {
        font-size: 16px;
        padding: 10px;
    }
    #content .content_inr .box {
        margin: 0;
        padding: 0;
    }
    .boxresult img {
        width: 55px;
        bottom: 42%;
        right: 40%;
    }
    #calendar {
        left: unset;
        width: 300px;
        top: 65px;
    }
    #result_1 li, 
    #result_2 li, 
    #result_3 li {
        width: 20%;
        height: 55px;
    }
    #content .content_inr .box .table_area {
        margin: 0;
        padding: 5px;
    }
    header .status a span, header .status span.time {
        border-left: 0;
    }
    header .link_menu {
        display: none;
    }
    header .status {
        width: 100%;
    }
    #content .content_inr {
        padding: 0;
    }
    #content .content_inr .box h3 {
        padding: 5px 10px;
        font-size: 14px;
    }
    .btn_area {
        margin-top: 5px;
    }
    .btn_area a.btn_confirm, 
    .btn_area a.btn_send, 
    .btn_area button.btn_send, 
    .btn_area button.btn_confirm {
        width: 45%;
    }
    [class*="result_"] li,
    .boxresult{
        animation-duration: 3s; 
    }
}