@charset "UTF-8";
html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, Tahoma, Verdana, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 36px;
  color: #000;
}

body {
  overflow-wrap: break-word;
  background: #f4f4f4;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
figure,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  word-break: break-word;
}

*::before, *::after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

iframe {
  border: none;
}

@media screen and (min-width: 769px), print {
  .show_sp {
    display: none !important;
  }
  .container {
    min-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
  .row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
  .inner {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
  a[href^=tel] {
    pointer-events: none;
    text-decoration: none;
    opacity: 1 !important;
    cursor: default !important;
  }
  a {
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
  }
  a:hover {
    opacity: 0.7;
  }
  .breadcrumb {
    padding: 7px 0 16px;
  }
  .breadcrumb__list {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .breadcrumb__list li {
    display: inline;
    font-size: 1.4rem;
    line-height: 2;
    margin-right: 24px;
    letter-spacing: 1px;
  }
  .breadcrumb__list li a {
    display: inline;
    border-bottom: 1px solid #b9daa6;
    color: #70be36;
    position: relative;
    font-size: 1.4rem;
    line-height: 2;
    letter-spacing: 0;
    padding-bottom: 4px;
  }
  .breadcrumb__list li a:after {
    content: '>';
    display: inline;
    color: #c8c8c8;
    position: absolute;
    right: -17px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .breadcrumb__list li a:hover {
    border-bottom: none;
  }
  .ttl {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-bottom: 60px;
  }
  .ttl:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(112, 190, 54, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .ttl__tt {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 500;
    color: #fff;
    text-align: center;
    z-index: 2;
    margin-bottom: 16px;
    letter-spacing: 8px;
  }
  .ttl__tt span {
    font-size: 2rem;
    font-weight: 400;
    display: block;
    font-style: italic;
    letter-spacing: 1.5px;
  }
  .tt {
    font-size: 3.4rem;
    line-height: 1.5;
    font-weight: 500;
    color: #000;
    text-align: center;
    z-index: 2;
    margin-bottom: 16px;
    letter-spacing: 8px;
  }
  .tt span {
    font-size: 1.8rem;
    font-weight: 400;
    display: block;
    font-style: italic;
    letter-spacing: 1.5px;
    color: #70be36;
  }
  .btn--bg a {
    width: 300px;
    height: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
    background: #70be36;
    -moz-border-radius: 10px;
         border-radius: 10px;
    position: relative;
    border: 1px solid #70be36;
    -webkit-transition: background .3s ease-out, color .3s ease-out;
    -moz-transition: background .3s ease-out, color .3s ease-out;
    transition: background .3s ease-out, color .3s ease-out;
  }
  .btn--bg a:after {
    content: '';
    width: 6px;
    height: 10px;
    background: url("../images/arrow_right_w.svg") no-repeat;
    -moz-background-size: 6px 10px;
         background-size: 6px 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 19px;
    margin: auto;
    -webkit-transition: right .3s ease-out;
    -moz-transition: right .3s ease-out;
    transition: right .3s ease-out;
  }
  .btn--bg a:hover {
    opacity: 1;
    background: #fff;
    color: #70be36;
  }
  .btn--bg a:hover:after {
    right: 14px;
    background: url("../images/arrow_right.svg") no-repeat;
    -moz-background-size: 6px 10px;
         background-size: 6px 10px;
  }
  .btn--line a {
    text-align: left;
    background: 0 0;
    font-size: 1.6rem;
    line-height: 1;
    color: #000;
    position: relative;
    display: inline-block;
  }
  .btn--line a span {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 2px solid #dcdcdc;
    -webkit-transition: border-bottom .3s ease-out;
    -moz-transition: border-bottom .3s ease-out;
    transition: border-bottom .3s ease-out;
  }
  .btn--line a:after {
    content: '';
    width: 8px;
    height: 14px;
    background: url("../images/arrow_right.svg") no-repeat;
    -moz-background-size: 8px 14px;
         background-size: 8px 14px;
    margin-left: 22px;
    display: inline-block;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    -moz-transition: transform .3s ease-out, -moz-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out, -moz-transform .3s ease-out;
  }
  .btn--line a:hover {
    opacity: 1;
  }
  .btn--line a:hover span {
    border-bottom: 2px solid transparent;
  }
  .btn--line a:hover:after {
    -webkit-transform: translateX(4px);
       -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
            transform: translateX(4px);
  }
  .btn--border a {
    width: 305px;
    height: 60px;
    margin: 0 auto;
    -moz-border-radius: 50px;
         border-radius: 50px;
    border: 2px solid #e3e3e3;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.8rem;
    line-height: 1;
    color: #000;
    -webkit-transition: background .3s ease-out;
    -moz-transition: background .3s ease-out;
    transition: background .3s ease-out;
  }
  .btn--border a:hover {
    opacity: 1;
    background: #e3e3e3;
  }
  .header {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-width: 1200px;
    height: 100px;
    z-index: 1000;
    background-color: #fff;
  }
  .header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    -moz-box-shadow: 0px 0px 9px 0px rgba(4, 0, 0, 0.2);
         box-shadow: 0px 0px 9px 0px rgba(4, 0, 0, 0.2);
  }
  .header .header_inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0 40px;
  }
  .header .logo {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1 0;
            flex: 1 0;
  }
  .header .logo a {
    display: inline-block;
  }
  .header .header_menu {
    -webkit-box-flex: 0;
       -moz-box-flex: 0;
        -ms-flex: 0 1 900px;
            flex: 0 1 900px;
  }
  .header .header_menu .no_link {
    pointer-events: none;
  }
  .header .header_menu .header_menu_links {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .header .header_menu .header_menu_links {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 769px), print {
  .header .header_menu .header_menu_links > li {
    position: relative;
  }
  .header .header_menu .header_menu_links > li > a {
    position: relative;
    display: block;
    padding: 0 20px 18px;
    line-height: 1.4;
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    transition: color .3s ease-out;
  }
  .header .header_menu .header_menu_links > li > a::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 6px;
    height: 10px;
    background: url("/common/images/arrow_right.svg") no-repeat;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header .header_menu .header_menu_links > li > a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 40px;
    background-color: #dcdcdc;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header .header_menu .header_menu_links > li > a:hover {
    color: #70be36;
  }
  .header .header_menu .header_menu_links > li:first-child a {
    padding-left: 0;
  }
  .header .header_menu .header_menu_links > li:last-child a {
    padding-right: 0;
  }
  .header .header_menu .header_menu_links > li:last-child a::after {
    display: none;
  }
  .header .header_menu .header_menu_links > li .menu_child {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 35px 0 15px;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(50px);
       -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: -webkit-transform .15s ease;
    transition: -webkit-transform .15s ease;
    -moz-transition: transform .15s ease, -moz-transform .15s ease;
    transition: transform .15s ease;
    transition: transform .15s ease, -webkit-transform .15s ease, -moz-transform .15s ease;
    -moz-border-radius: 5px;
         border-radius: 5px;
  }
  .header .header_menu .header_menu_links > li .menu_child li a {
    position: relative;
    display: block;
    padding: 0 10px 0 35px;
    text-align: left;
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    transition: color .3s ease-out;
  }
  .header .header_menu .header_menu_links > li .menu_child li a::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 50%;
    width: 6px;
    height: 10px;
    background: url("/common/images/arrow_right.svg") no-repeat;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header .header_menu .header_menu_links > li .menu_child li a:hover {
    color: #70be36;
  }
  .header .header_menu .header_menu_links li.active > a {
    color: #70be36;
  }
  .header .header_menu .header_menu_links li.has_child > a::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 2px;
    width: 10px;
    height: 6px;
    background: url("/common/images/arrow_bottom.svg") no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header .header_menu .header_menu_links li.has_child:hover .no_link {
    color: #70be36;
  }
  .header .header_menu .header_menu_links li.has_child:hover .menu_child {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .block_entry {
    padding: 62px 0;
    background-color: #70be36;
  }
  .block_entry .btn_entry a {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 645px;
    height: 185px;
    margin: 0 auto;
    font-size: 3.4rem;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #fff;
    border: 5px solid #fff;
    -moz-border-radius: 10px;
         border-radius: 10px;
    -webkit-transition: color .3s, border-color .3s, background-color .3s;
    -moz-transition: color .3s, border-color .3s, background-color .3s;
    transition: color .3s, border-color .3s, background-color .3s;
  }
  .block_entry .btn_entry a span {
    margin-top: 5px;
    font-size: 1.8rem;
    font-style: italic;
    letter-spacing: .5px;
  }
  .block_entry .btn_entry a::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    width: 14px;
    height: 24px;
    background: url("/common/images/arrow_right_w.svg") no-repeat;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .block_entry .btn_entry a:hover {
    color: #70be36;
    border-color: transparent;
    background-color: #fff;
    opacity: 1;
  }
  .block_entry .btn_entry a:hover::after {
    background: url("/common/images/arrow_right_g.svg") no-repeat;
  }
  .footer {
    margin-top: 100px;
  }
  .footer .footer_inner {
    position: relative;
    background-color: #fff;
  }
  .footer .footer_inner .ft_head {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding: 55px 40px 82px;
    font-size: 1.6rem;
  }
  .footer .footer_inner .page_top {
    position: absolute;
    bottom: 75px;
    right: 45px;
    width: 50px;
    height: 50px;
    background-color: #70be36;
    -moz-border-radius: 100%;
         border-radius: 100%;
    overflow: hidden;
  }
  .footer .footer_inner .page_top a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .footer .footer_inner .page_top a::before {
    content: '';
    display: block;
    width: 16px;
    height: 10px;
    background: url("/common/images/arrow_top.svg") no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -moz-transition: transform .3s, -moz-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s, -moz-transform .3s;
  }
  .footer .footer_inner .page_top a:hover {
    opacity: 1;
  }
  .footer .footer_inner .page_top a:hover::before {
    -webkit-transform: translateY(-3px);
       -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  .footer .footer_inner .ft_contact {
    margin-top: 14px;
  }
  .footer .footer_inner .ft_contact .ft_logo a {
    display: inline-block;
    width: 281px;
  }
  .footer .footer_inner .ft_contact .phone {
    margin-top: 42px;
  }
  .footer .footer_inner .ft_contact .phone a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.8rem;
    letter-spacing: .5px;
  }
  .footer .footer_inner .ft_contact .phone a span {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60px;
    height: 24px;
    padding-bottom: 2px;
    margin-right: 12px;
    font-size: 1.6rem;
    color: #70be36;
    border: 2px solid #70be36;
  }
  .footer .footer_inner .ft_menu_list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
  }
  .footer .footer_inner .ft_menu_list .no_link {
    pointer-events: none;
  }
  .footer .footer_inner .ft_menu_list > ul {
    position: relative;
  }
  .footer .footer_inner .ft_menu_list > ul::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #dcdcdc;
  }
  .footer .footer_inner .ft_menu_list > ul > li {
    padding: 0 29px;
  }
  .footer .footer_inner .ft_menu_list > ul > li:not(:last-child) {
    margin-bottom: 14px;
  }
  .footer .footer_inner .ft_menu_list > ul > li > a {
    position: relative;
    display: block;
    line-height: 1.375;
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    transition: color .3s ease-out;
  }
  .footer .footer_inner .ft_menu_list > ul > li > a:hover {
    color: #70be36;
  }
  .footer .footer_inner .ft_menu_list > ul > li > a:hover span {
    border-color: #70be36;
  }
  .footer .footer_inner .ft_menu_list > ul > li > a .br {
    display: block;
  }
  .footer .footer_inner .ft_menu_list > ul > li > a span {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #3f3f3f;
    -webkit-transition: border .3s ease-out;
    -moz-transition: border .3s ease-out;
    transition: border .3s ease-out;
  }
  .footer .footer_inner .ft_menu_list > ul > li > a.target {
    padding-right: 13px;
  }
  .footer .footer_inner .ft_menu_list > ul > li > a.target::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    width: 10px;
    height: 10px;
    background: url("/common/images/icon_blank.png") no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .footer .footer_inner .ft_menu_list > ul > li.has_child a span {
    border: none;
  }
  .footer .footer_inner .ft_menu_list > ul:last-child::after {
    display: none;
  }
  .footer .footer_inner .ft_menu_list > ul:last-child li {
    padding-right: 15px;
  }
  .footer .footer_inner .ft_menu_list .menu_child {
    margin-top: 6px;
  }
  .footer .footer_inner .ft_menu_list .menu_child li {
    line-height: 1.8;
  }
  .footer .footer_inner .ft_menu_list .menu_child li a {
    position: relative;
    display: block;
    padding-left: 20px;
    letter-spacing: .75px;
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    transition: color .3s ease-out;
  }
  .footer .footer_inner .ft_menu_list .menu_child li a::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 50%;
    width: 6px;
    height: 10px;
    background: url("/common/images/arrow_right.svg") no-repeat;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .footer .footer_inner .ft_menu_list .menu_child li a:hover {
    color: #70be36;
  }
  .footer .footer_inner .copyright {
    padding: 25px 0 40px;
    font-size: 1.2rem;
    letter-spacing: .5px;
    text-align: center;
    border-top: 1px solid #dcdcdc;
  }
}

@media screen and (max-width: 768px) {
  .show_pc {
    display: none !important;
  }
  body {
    font-size: 3.64583vw;
    line-height: 1.6;
  }
  .row {
    padding-left: 3.90625vw;
    padding-right: 3.90625vw;
  }
  a[href^=tel] {
    text-decoration: none;
  }
  .breadcrumb {
    padding: 0 3.90625vw;
  }
  .breadcrumb__list {
    padding: 2.08333vw 0;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .breadcrumb__list li {
    display: inline-block;
    font-size: 3.125vw;
    line-height: 2;
    letter-spacing: 0.13021vw;
  }
  .breadcrumb__list li a {
    display: inline-block;
    border-bottom: 0.39063vw solid #b9daa6;
    color: #70be36;
    position: relative;
    font-size: 3.125vw;
    line-height: 2;
    letter-spacing: 0;
    margin-right: 6.25vw;
  }
  .breadcrumb__list li a:after {
    content: '>';
    display: inline-block;
    color: #c8c8c8;
    position: absolute;
    right: -4.42708vw;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .ttl {
    width: 100%;
    height: 38.41146vw;
    background-repeat: no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-bottom: 7.8125vw;
  }
  .ttl:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(112, 190, 54, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .ttl__tt {
    width: 100%;
    font-size: 6.51042vw;
    line-height: 1.5;
    font-weight: 500;
    color: #fff;
    text-align: center;
    z-index: 2;
    margin-bottom: 5.20833vw;
    letter-spacing: 1.04167vw;
  }
  .ttl__tt span {
    font-size: 3.90625vw;
    font-weight: 400;
    display: block;
    font-style: italic;
    letter-spacing: 0.19531vw;
  }
  .tt {
    font-size: 5.20833vw;
    line-height: 1.5;
    font-weight: 500;
    color: #000;
    text-align: center;
    z-index: 2;
    margin-bottom: 2.08333vw;
    letter-spacing: 1.04167vw;
  }
  .tt span {
    font-size: 3.64583vw;
    font-weight: 400;
    display: block;
    font-style: italic;
    letter-spacing: 0.19531vw;
    color: #70be36;
  }
  .btn--bg a {
    width: 100%;
    height: 10.41667vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 3.64583vw;
    line-height: 1;
    color: #fff;
    background: #70be36;
    -moz-border-radius: 1.30208vw;
         border-radius: 1.30208vw;
    position: relative;
  }
  .btn--bg a:after {
    content: '';
    width: 1.43229vw;
    height: 2.34375vw;
    background: url("../images/arrow_right_w.svg") no-repeat;
    -moz-background-size: 100% auto;
         background-size: 100% auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 3.90625vw;
    margin: auto;
  }
  .btn--line a {
    text-align: left;
    background: 0 0;
    font-size: 3.64583vw;
    line-height: 1;
    color: #000;
    position: relative;
    display: inline-block;
  }
  .btn--line a span {
    display: inline-block;
    padding-bottom: 1.04167vw;
    border-bottom: 2px solid #dcdcdc;
  }
  .btn--line a:after {
    content: '';
    width: 1.43229vw;
    height: 2.34375vw;
    background: url("../images/arrow_right.svg") no-repeat;
    -moz-background-size: 100% auto;
         background-size: 100% auto;
    margin-left: 1.30208vw;
    display: inline-block;
    position: relative;
    top: 0;
  }
  .btn--border a {
    width: 100%;
    height: 13.02083vw;
    margin: 0 auto;
    -moz-border-radius: 6.51042vw;
         border-radius: 6.51042vw;
    border: 2px solid #e3e3e3;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 3.64583vw;
    line-height: 1;
    color: #000;
  }
  .header {
    position: relative;
    width: 100%;
    height: 15.49479vw;
    background-color: #fff;
    z-index: 1000;
  }
  .header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -moz-box-shadow: 0px 0px 9px 0px rgba(4, 0, 0, 0.2);
         box-shadow: 0px 0px 9px 0px rgba(4, 0, 0, 0.2);
  }
  .header .header_inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 5.46875vw 0 4.6875vw;
  }
  .header .logo {
    position: relative;
    z-index: 10;
  }
  .header .logo a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 50.78125vw;
  }
  .header .logo a picture {
    line-height: 0;
  }
  .header .header_menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 0 6.77083vw 0 7.29167vw;
    background-color: #fff;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.35s linear;
    -moz-transition: all 0.35s linear;
    transition: all 0.35s linear;
    overflow-y: scroll;
  }
  .header .header_menu.open {
    opacity: 1;
    visibility: visible;
  }
  .header .header_menu .no_link {
    pointer-events: none;
  }
  .header .header_menu .header_menu_links {
    padding-top: 17.1875vw;
    font-size: 3.38542vw;
    text-align: center;
  }
  .header .header_menu .header_menu_links > li {
    position: relative;
  }
  .header .header_menu .header_menu_links > li.has_child > a {
    position: relative;
    padding-right: 3.90625vw;
  }
  .header .header_menu .header_menu_links > li.has_child > a:after {
    content: "";
    background: url("/common/images/arrow_bottom.svg") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 2.60417vw;
    height: 1.5625vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
  }
  .header .header_menu .header_menu_links > li a {
    display: inline-block;
    letter-spacing: 0.13021vw;
    font-size: 3.64583vw;
    line-height: 1;
  }
  .header .header_menu .header_menu_links > li .menu_child {
    padding: 1.30208vw 0;
  }
  .header .header_menu .header_menu_links > li .menu_child li a {
    position: relative;
    display: inline-block;
    padding: 1.95313vw 3.25521vw 1.95313vw 0;
    color: #606060;
  }
  .header .header_menu .header_menu_links > li .menu_child li a::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 1.30208vw;
    height: 2.08333vw;
    background: url("/common/images/arrow_right.svg") no-repeat;
    -moz-background-size: 1.30208vw 2.08333vw;
         background-size: 1.30208vw 2.08333vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header .header_menu .header_menu_links > li .menu_child li.active > a {
    color: #70be36;
  }
  .header .header_menu .header_menu_links > li:not(.has_child) a {
    padding: 5.20833vw 0;
  }
  .header .header_menu .header_menu_links li.active > a {
    color: #70be36;
  }
  .header .header_menu .btn_infor {
    padding-bottom: 11.97917vw;
  }
  .header .header_menu .btn_infor a {
    width: 45.57292vw;
    height: 10.41667vw;
    background-color: #e83428;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-size: 3.64583vw;
    line-height: 1;
    font-weight: normal;
    position: relative;
    -moz-border-radius: 1.04167vw;
         border-radius: 1.04167vw;
    margin: 3.90625vw auto 0;
  }
  .header .header_menu .btn_infor a:after {
    content: "";
    background: url("../../common/images/arrow_right_w.svg") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 1.30208vw;
    height: 2.08333vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 4.16667vw;
  }
  .header .menu {
    position: relative;
  }
  .header .menu.open .icon_menu {
    z-index: 9999;
  }
  .header .menu.open .icon_menu .icon_inner {
    -webkit-transition-delay: .1s;
       -moz-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translate3d(0, 2.86458vw, 0) rotate(135deg);
       -moz-transform: translate3d(0, 2.86458vw, 0) rotate(135deg);
            transform: translate3d(0, 2.86458vw, 0) rotate(135deg);
    -moz-border-radius: 0;
         border-radius: 0;
  }
  .header .menu.open .icon_menu .icon_inner::before {
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
            transition-delay: 0s;
    opacity: 0;
  }
  .header .menu.open .icon_menu .icon_inner::after {
    -webkit-transition-delay: .1s;
       -moz-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translate3d(0, -5.72917vw, 0) rotate(-270deg);
       -moz-transform: translate3d(0, -5.72917vw, 0) rotate(-270deg);
            transform: translate3d(0, -5.72917vw, 0) rotate(-270deg);
    -moz-border-radius: 0;
         border-radius: 0;
  }
  .header .menu .icon_menu {
    width: 7.8125vw;
    height: 6.77083vw;
    position: relative;
  }
  .header .menu .icon_menu .icon_inner, .header .menu .icon_menu .icon_inner::before, .header .menu .icon_menu .icon_inner::after {
    position: absolute;
    width: 100%;
    height: 0.78125vw;
    min-height: 3px;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .1s;
       -moz-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    background: #000;
    -moz-border-radius: 0.65104vw;
         border-radius: 0.65104vw;
  }
  .header .menu .icon_menu .icon_inner {
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
       -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-duration: .4s;
       -moz-transition-duration: .4s;
            transition-duration: .4s;
    display: block;
    top: 0;
    left: 0;
  }
  .header .menu .icon_menu .icon_inner::before, .header .menu .icon_menu .icon_inner::after {
    content: "";
    display: block;
  }
  .header .menu .icon_menu .icon_inner::before {
    top: 2.86458vw;
    -webkit-transition: opacity .15s ease .4s;
    -moz-transition: opacity .15s ease .4s;
    transition: opacity .15s ease .4s;
  }
  .header .menu .icon_menu .icon_inner::after {
    top: 5.72917vw;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -moz-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -moz-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .block_entry {
    padding: 8.20313vw 0;
    background-color: #70be36;
  }
  .block_entry .btn_entry {
    padding: 0 3.90625vw;
  }
  .block_entry .btn_entry a {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 76.82292vw;
    height: 24.08854vw;
    margin: 0 auto;
    font-size: 4.42708vw;
    line-height: 1.7;
    color: #fff;
    border: 0.65104vw solid #fff;
    -moz-border-radius: 0.65104vw;
         border-radius: 0.65104vw;
  }
  .block_entry .btn_entry a span {
    font-size: 3.64583vw;
    line-height: 1;
    font-style: italic;
  }
  .block_entry .btn_entry a::after {
    content: '';
    position: absolute;
    right: 2.60417vw;
    top: 50%;
    width: 1.82292vw;
    height: 3.125vw;
    background: url("/common/images/arrow_right_w.svg") no-repeat;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -moz-background-size: 100% auto;
         background-size: 100% auto;
  }
  .footer {
    margin-top: 13.02083vw;
    position: relative;
  }
  .footer .footer_inner {
    background-color: #fff;
  }
  .footer .footer_inner .ft_head {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4.55729vw 3.90625vw 4.81771vw;
  }
  .footer .footer_inner .page_top {
    position: absolute;
    bottom: 6.90104vw;
    right: 2.86458vw;
    width: 6.51042vw;
    height: 6.51042vw;
    background-color: #70be36;
    -moz-border-radius: 100%;
         border-radius: 100%;
    overflow: hidden;
  }
  .footer .footer_inner .page_top a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .footer .footer_inner .page_top a::before {
    content: '';
    display: block;
    width: 2.08333vw;
    height: 1.30208vw;
    background: url("/common/images/arrow_top.svg") no-repeat;
    -moz-background-size: 100% auto;
         background-size: 100% auto;
  }
  .footer .footer_inner .ft_contact {
    -webkit-box-ordinal-group: 3;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .footer .footer_inner .ft_contact .ft_logo {
    margin: 0 0 1.43229vw;
    text-align: center;
  }
  .footer .footer_inner .ft_contact .ft_logo a {
    display: inline-block;
    width: 58.33333vw;
  }
  .footer .footer_inner .ft_contact .ft_logo a img {
    width: 100%;
    height: auto;
  }
  .footer .footer_inner .ft_contact .phone {
    text-align: center;
    line-height: 1.5;
  }
  .footer .footer_inner .ft_contact .phone a {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 5.20833vw;
    letter-spacing: 0.13021vw;
  }
  .footer .footer_inner .ft_contact .phone a span {
    width: 9.76563vw;
    padding: 0.13021vw 0 0.39063vw;
    margin-top: 0.78125vw;
    margin-right: 1.95313vw;
    font-size: 3.64583vw;
    line-height: 1;
    color: #70be36;
    border: 0.26042vw solid #70be36;
  }
  .footer .footer_inner .ft_menu_list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 2;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer .footer_inner .ft_menu_list > ul {
    position: relative;
    width: 100%;
  }
  .footer .footer_inner .ft_menu_list > ul > li {
    margin-bottom: 3.90625vw;
  }
  .footer .footer_inner .ft_menu_list > ul > li > a {
    position: relative;
    display: inline-block;
    line-height: 1.5;
  }
  .footer .footer_inner .ft_menu_list > ul > li > a .br {
    display: none;
  }
  .footer .footer_inner .ft_menu_list > ul > li > a span {
    display: inline-block;
    padding-bottom: 0.65104vw;
    border-bottom: 1px solid #3f3f3f;
  }
  .footer .footer_inner .ft_menu_list > ul > li > a.target {
    padding-right: 3.25521vw;
  }
  .footer .footer_inner .ft_menu_list > ul > li > a.target::after {
    content: '';
    position: absolute;
    top: 1.30208vw;
    right: 0;
    width: 1.95313vw;
    height: 1.95313vw;
    background: url("/common/images/icon_blank.png") no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .footer .footer_inner .ft_menu_list > ul > li.has_child a span {
    border: none;
  }
  .footer .footer_inner .ft_menu_list .menu_child {
    margin-top: 1.95313vw;
  }
  .footer .footer_inner .ft_menu_list .menu_child li {
    padding-left: 3.90625vw;
  }
  .footer .footer_inner .ft_menu_list .menu_child li:not(:last-child) {
    margin-bottom: 1.30208vw;
  }
  .footer .footer_inner .ft_menu_list .menu_child li a {
    position: relative;
    display: block;
    padding-left: 3.25521vw;
  }
  .footer .footer_inner .ft_menu_list .menu_child li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1.30208vw;
    height: 2.21354vw;
    background: url("/common/images/arrow_right.svg") no-repeat;
    -moz-background-size: 100% auto;
         background-size: 100% auto;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .footer .footer_inner .copyright {
    padding: 2.99479vw 0;
    font-size: 2.60417vw;
    letter-spacing: 0.13021vw;
    text-align: center;
    border-top: 1px solid #dcdcdc;
  }
}
